.imageicon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #2d2d2d 0px 0px 10px;
}
.imagetitle {
    margin-top: 10px;
    width: 100%;
}
.imagebutton {
    text-align: center;
    background-color: inherit;
    border-radius: 5px;
    width: 150px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    padding: 10px;
}
.imagebutton:hover {
    background-color: #999999;
}
.fullimage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    text-align: center;
}
.fullimage video,
.fullimage img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.imageside {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 60px;
    top: 0px;
}
.imageleft,
.imageright,
.imageclose {
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-top: -20px;
    position: absolute;
    color: #e5e5e5;
    text-shadow: #000000 0px 0px 6px;
    text-align: center;
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
}
.imageleft {
    top: 50%;
    left: 10px;
}
.imageright {
    top: 50%;
    right: 10px;
}
.imageclose {
    top: 33px;
    right: 17px;
    color: #e5e5e5;
    font-size: 20px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    text-shadow: 0px 0px 0px;
    box-shadow: #000000 0px 0px 6px;
    background-color: #d64937;
}
.close {
    margin-top: -1px;
    margin-left: -1px;
}
