html,
body {
    font-family: Droid Sans Mono;
    background-color: #888888;
    color: #e5e5e5;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.bar {
    height: 20px;
    font-size: 12px;
    background-color: #2d2d2d;
}
.left,
.right {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.indicator {
    padding-left: 3px;
    padding-right: 3px;
}
.workspace {
    height: 100%;
    width: 100%;
}
.window {
    font-size: 12px;
    position: absolute;
    overflow: hidden;
}
.appholder {
    height: 100%;
    width: 100%;
    color: #2d2d2d;
    background-color: #e5e5e5;
    border-width: 2px;
    border-color: #444444;
    border-style: solid;
    margin: auto;
    box-shadow: 5px 5px 20px #2d2d2d;
    z-index: 1;
    overflow: hidden;
}
#github {
    position: fixed;
    bottom: -100px;
    Height: 114px;
    right: 0px;
    background-color: #e5e5e5;
    color: #d64937;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    border-radius: 3px 0px 0px 0px;
    box-shadow: 5px 5px 20px #2d2d2d;
    z-index: 2;
}
a,
a:hover,
a:visited,
a:active {
    color: #d64937;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.dmenuBtn,
.instructions {
    border: none;
    outline: none;
    background-color: transparent;
    border-width: 2px;
    border-color: #2d2d2d;
    border-style: solid;
    margin-top: 3px;
    color: #2d2d2d;
    width: 100%;
    height: 47px;
}
form input[type=button]:hover {
    border-color: #d64937;
    background-color: #f9f9f9;
}
.github {
    display: none;
    width: 100%;
}
.vimcmd,
.editor {
    width: 100%;
    min-height: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
}
.editspanind,
.editspan {
/*
    float: left;
*/
}
.editspanind {
    background-color: #2d2d2d;
    color: #e5e5e5;
    min-width: 0.125em;
}
